<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="row">
                <div class="col-6">
                    <h3>Archivos</h3>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary">Hola</button>
                </div>
            </div>
            <table class="table mt-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Dueños</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of files; track $index) {
                        <tr>
                            <td> <input type="checkbox" name="" id=""> </td>
                            <td> {{getEmoji(item.type)}} {{item.name}} </td>
                            <td> {{item.creation.toLocaleDateString('en-US', {
                                month: 'short', 
                                day: 'numeric', 
                                year: 'numeric',
                            })}} </td>
                            <td> @for (img of item.owners; track $index) {
                                <img src={{img.avatarUrl}} alt="" width="35" height="35" style="border-radius: 50%;">
                            } </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-4"></div>
    </div>
</div>